@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Unica One", cursive;
}

.logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

.list-menu a {
    text-decoration: none;
    font-size: 20px;
}

.group-button .btn {
    font-size: 24px;
}

.info {
    position: relative;
    z-index: 1000;
}

.visual-box {
    position: relative;
    z-index: 10;
}

.info .options .sizes button {
    border: 1px solid #ebebeb;
}

.info .options .colors button {
    border-radius: 50%;
    height: 26px;
}

.info .options .colors button.btn-cl-brown {
    background-color: brown;
}

.info .options .colors button.btn-cl-black {
    background-color: black;
}

.info .options .colors button.btn-cl-blue {
    background-color: blue;
}

.info .options .colors button.btn-cl-yellow {
    background-color: yellow;
}

.bottom .ic-play {
    border-radius: 50%;
    background: lightgray;
    width: 40px;
    height: 40px;
}

.ovfl-hidden {
    overflow: hidden;
}

.main-view {
    height: 50vh;
    margin-top: -20px;
}

.main-view img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.btn-remind {
    transform: translateY(-50%) rotate(-90deg);
}
@media (max-width: 575px) {
    .list-menu {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }
}

